@import '~appConfig/app_vars';

.cardContainer {
    background-color: #fff;
    padding-bottom: $paddingContainer;


    &:active {
        cursor: pointer;
        opacity: .9;
        box-shadow: none;
    }
}

.hover {
    &:hover {
        cursor: pointer;
        box-shadow: $boxShadow;
        -webkit-box-shadow: $boxShadow;
    }
}

.textContainer {
    padding-top: $marginContainer;
    padding-left: $paddingContainer;
    padding-right: $paddingContainer;
    text-align: center;

    @media screen and (max-width: $smallDevice) {
        padding-left: $paddingContainer/2;
        padding-right: $paddingContainer/2;
    }
}

.caption {
    margin-top: $marginContainer/3;
    font-size: 1em !important;
    color: $textMain !important;
    font-weight: $fontBold !important;

    @media screen and (max-width: $smallDevice) {
        margin-top: $marginContainer/5;
        width: 100%;
    }
}

.heading {
    word-break: break-word;

    @media screen and (max-width: $smallDevice) {
        width: 100%;
    }
}

.paragragh {
    @media screen and (max-width: $smallDevice) {
        width: 100%;
    }
}