@import '~appConfig/app_vars';

.Paragraph {
    margin: 0 ;
    font-family: $fontBodyFamily ;
    color: $textMain ;
}

.buttonStyle {
    font-weight: $fontBold;
    font-variant-caps: all-petite-caps;
    letter-spacing: 1px;
}

.linkStyle {
    &:hover {
        cursor: pointer;
        color: $textMainHover ;
    }

    &:active {
        cursor: pointer;
        color: $textMainActive ;
    }
}