@import "~appConfig/app_vars";

.cardContainer {
    flex: 1;
    -webkit-flex: 1;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26%, 1fr));
    grid-gap: 0 5%;
    >div {
        >div {
            >div:first-child {
                height: 22vw !important;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
    }
    @media screen and(max-width: $smallDevice) {
        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
        grid-gap: 0 1em;

        justify-content: space-between;
        flex-direction: row;
        -webkit-flex-direction: row;

        >div {
            >div {
                >div:first-child {
                    height: 48vw !important;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    @media screen and(max-width: $superSmallDevice) {
        >div {
            >div {
                >div:first-child {
                    height: 100% !important;
                    overflow: visible;
                }
            }
        }
    }
}

.card {
    margin: 0;
    margin-bottom: $marginContainer * 2;
    align-self: flex-start;

    @media screen and(max-width: $smallDevice) {
        margin-bottom: $marginContainer;
    }

    @media screen and(max-width: $underMobile) {
        margin: unset;
        margin-bottom: $marginContainer * 2;

        img {
            width: 100%;
        }
    }
}

.cardContent {
    @include flexCenter;

    @media screen and (max-width: $smallDevice) {
        align-items: flex-start;
        margin-top: $marginContainer / 2;
    }
}

.btnShowMore {
    left: 50%;
    transform: translateX(-50%);
    background-color: $textMain;
    outline: none !important;
    border: none !important;

    &:hover,
    &:focus {
        background-color: $textBase;
    }

    &:active {
        background-color: #000;
    }

    p {
        color: #fff;
    }
}

.btnLoading {
    p {
        color: inherit;
    }
}