@import './app_vars';
@import './font_face';

body {
    background-color: $bg;
    margin: 0;
    padding: 0;
    font-family: $fontBodyFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-size: $fontSizeStandard;

    @media screen and (max-width: $smallDevice){
        // font-size: $fontSizeSmall;
    }
    @media screen and (max-width: $superSmallDevice) {
        // h1,h2,h3,span,div,p{font-size: 1em!important;}
    }
}