@import '~appConfig/app_vars';

.container {
    justify-content: center;
}

.filter {
    flex: .25;
    -webkit-flex: .25;
    max-width: 300px;
    margin-right: $marginContainer * 2;
    margin-top: $marginContainer * 4;
    align-self: flex-start;

    [class*="ant-menu-submenu-selected"] {
        >div {

            >h1,
            >h2,
            >h3 {
                &:hover {
                    color: $textMainHover !important;
                }

                color: $textMainActive !important;
            }
        }
    }

    [class*="ant-menu-item"] {

        >h1,
        >h2,
        >h3 {
            &:hover {
                color: gray !important;
            }
        }
    }

    li[role="menuitem"] {
        >div {

            >h1,
            >h2,
            >h3 {
                &:hover {
                    color: gray !important;
                }
            }
        }
    }

    @media screen and(max-width: $smallDevice) {
        display: none;
    }
}

.product {
    width: 100%;

    @media screen and(min-width: $smallDevice) {
        flex: .75;
        -webkit-flex: .75;
        align-self: flex-start;
    }
}

.productHeading {
    text-indent: $paddingContainer*3;
    margin-bottom: $marginContainer*2;
    font-variant-caps: all-petite-caps;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: $textMain !important;

    @media screen and(max-width: $smallDevice) {
        margin-bottom: $marginContainer *2;
        text-indent: $paddingContainer;
        color: $textMain !important;
    }

    &::before {
        content: '•';
        color: $textMainActive;
        margin-right: $marginContainer/3;
    }
}

.searchLaptop {
    margin-bottom: $marginContainer*3 !important;

    input {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

.bannerImageWrapper {
    height: 80vh;
    position: relative;
    min-height: $superSmallDevice;
    max-height: $largeDevice;

    @media screen and (max-width: $superSmallDevice) {
        min-height: $superSmallDevice*.7;
        max-height: $largeDevice;
        height: 65vh;
    }
}

.bannerImage {
    cursor: pointer;
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}