@import '~appConfig/app_vars';

.productBody {
}

.filter {
    flex: .25;
    -webkit-flex: .25;
    max-width: 300px;
    margin-right: $marginContainer;
    margin-top: $marginContainer * 5.5;
    align-self: flex-start;

    [class*="ant-menu-submenu-selected"] {
        >div {

            >h1,
            >h2,
            >h3 {
                &:hover {
                    color: $textMainHover !important;
                }

                color: $textMainActive !important;
            }
        }
    }

    [class*="ant-menu-item"] {

        >h1,
        >h2,
        >h3 {
            &:hover {
                color: gray !important;
            }
        }
    }

    li[role="menuitem"] {
        >div {

            >h1,
            >h2,
            >h3 {
                &:hover {
                    color: gray !important;
                }
            }
        }
    }

    @media screen and(max-width: $smallDevice) {
        display: none;
    }
}

.product {
    flex: .75;
    -webkit-flex: .75;
    align-self: flex-start;
}

.productHeading {
    text-indent: $paddingContainer*3;
    margin-bottom: $marginContainer*3.5;
    font-variant-caps: all-petite-caps;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: $textMain !important;

    @media screen and(max-width: $smallDevice) {
        margin-bottom: $marginContainer *2;
        text-indent: $paddingContainer;
        color: $textMain !important;
        font-size: 1rem !important;
    }

    &::before {
        content: '•';
        color: $textMainActive;
        margin-right: $marginContainer/3;
    }
}

.searchLaptop {
    margin-bottom: $marginContainer*3 !important;

    input {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

.cardContainer {
    flex: 1;
    -webkit-flex: 1;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;

    @media screen and(max-width: $smallDevice) {
        justify-content: space-between;
        flex-direction: row;
        -webkit-flex-direction: row;
    }
}

.card {
    max-width: 26%;
    margin: 0 auto;
    margin-bottom: $marginContainer * 3;
    align-self: flex-start;

    @media screen and(max-width: $underMobile) {
        width: 50% !important;
        margin: unset;
        margin-bottom: $marginContainer * 3;
        max-width: 48%;
    }
}

.cardContent {
    @include flexCenter;

    @media screen and (max-width: $smallDevice) {
        align-items: flex-start;
        margin-top: $marginContainer / 2;
    }
}