@import '~appConfig/app_vars';

[class*="image-gallery-content fullscreen"] {
    height: 100vh;
    @include flexCenter();
}

[class*="image-gallery-thumbnail"] {
    &[class*="active"] {
        border-color: $borderColorDarker !important;

        >div {
            opacity: 1;
        }
    }
}

[class*="image-gallery-thumbnails-container"] {
    white-space: unset !important;
}


[class*="image-gallery-right-nav"],
[class*="image-gallery-left-nav"] {
    &:focus {
        outline: none !important;
        opacity: 1;
    }

    &:hover {
        opacity: 1;

        &::before {
            color: $textMain !important;
        }
    }

    opacity: .6;
}