@import '~appConfig/app_vars';

@mixin companyInfo {
    padding: 0 15%;

    @media screen and (max-width: $smallDevice) {
        padding: 0 5%;
    }
}

.bodyRoot {
    @include flexCenter;
    margin-top: $headerHeight;

    @media screen and (max-width: $smallDevice) {
        margin-top: $headerMobileHeight * .6;
        padding: $paddingContainer*3;
    }

    background-color: $bg;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    margin-bottom: $marginContainer*3;
}

.companyName {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 450px;

    @media screen and (max-width: $smallDevice) {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
}

.block {
    padding: $paddingContainer;

    @media (max-width: $smallDevice) {
        justify-self: center;
        align-self: center;
        padding-bottom: unset;

    }
}

.titleOffice {
    @include companyInfo();
    margin-right: $marginContainer/5;
    text-align: center;
    white-space: nowrap;
    font-size: larger;

    @media (max-width: $smallDevice) {
        display: block;
    }
}

.companyHeadOffice {
    @include companyInfo();
    margin-bottom: .75rem;
    text-align: center;
}

.phoneFax {
    @include companyInfo();
    flex-direction: row !important;
    margin-bottom: .5rem;
}

.companyPhone {
    @include companyInfo();
    // margin-right: $marginContainer * 2 !important;
    // justify-content: center;
    @include flexCenter;

    @media (max-width: $smallDevice) {
        // margin-right: $marginContainer !important;
    }
}

.companyFax {
    @include companyInfo();
    @include flexCenter;
}

.phoneIcon {
    font-size: .8em;
    margin-right: $marginContainer/3;
}

.faxIcon {
    font-size: .8em;
    margin-right: $marginContainer/3;
}

.companyFb {
    @include companyInfo();
    @include flexCenter;
    white-space: nowrap;
}