@import '~appConfig/app_vars';

@mixin companyInfo {
    font-size: 1.1rem;
}

.bodyRoot {
    @include flexCenter;
    margin-top: $headerHeight;

    @media screen and (max-width: $smallDevice) {
        margin-top: $headerMobileHeight;
        padding: $paddingContainer*3;
    }

    background-color: $bg;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    font-variant-caps: all-petite-caps;
    margin-bottom: $marginContainer*3;
}

.companyName {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 450px;

    @media screen and (max-width: $smallDevice) {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
}

.companyHeadOffice {
    @include companyInfo();
    margin-bottom: .75rem;
    text-align: center;
}

.phoneFax {
    flex-direction: row !important;
    margin-bottom: .5rem;
}

.companyPhone {
    @include companyInfo();
    margin-right: $marginContainer * 2 !important;
    @include flexVerticalCenter;

    @media (max-width: $smallDevice) {
        margin-right: $marginContainer !important;
    }
}

.companyFax {
    @include companyInfo();
    @include flexVerticalCenter;
}

.phoneIcon {
    font-size: .8em;
    margin-right: $marginContainer/3;
}

.faxIcon {
    font-size: .8em;
    margin-right: $marginContainer/3;
}

.companyFb {
    @include companyInfo();
}