@import "~appConfig/app_vars";

.productsContainer {
    margin-top: $marginContainer * 4;
    padding-bottom: $paddingContainer * 2;
    border-bottom: 1px dashed $borderColor;
}

.searchProductGrid {
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));

    @media screen and(max-width: $smallDevice) {
        grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    }
}

.blogsContainer {
    margin-top: $marginContainer * 3;

    @media screen and (max-width: $smallDevice) {
        margin-top: $marginContainer * 1.5;
    }
}

.productTitle {
    @media screen and (max-width: $smallDevice) {
        margin-bottom: $marginContainer * 2 !important;
    }
}

.dot {
    margin-bottom: $marginContainer * 2;

    @media screen and (max-width: $smallDevice) {
        margin-bottom: $marginContainer;
    }

    text-align: center;
    font-weight: $fontExtraBold;
    font-variant-caps: all-petite-caps;
    font-size: 2rem;
}