@import '~appConfig/app_vars';

.footerContainer {
    background-color: $footerColor;
    padding-top: $paddingContainer * 3;
    padding-bottom: $paddingContainer * 2;
    padding-left: $paddingContainer;
    padding-right: $paddingContainer;
    max-height: fit-content;

    @media screen and (max-width: $smallDevice) {
        padding: $paddingContainer;
    }
}

.footerWrapper {
    @include appSize();
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex: 1;
    -webkit-flex: 1;
    max-height: min-content;
    align-items: center;
    padding: 0 $paddingContainer*2;

    @media screen and (max-width: $mobile) {
        max-width: 100%;
        flex-direction: column;
        -webkit-flex-direction: column;
        padding: unset;
    }
}

.footerMenuOuter {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1;
    -webkit-flex: 1;
    justify-content: space-between;
    width: 100%;
}

.footerMenuContainer {
    width: fit-content;

    @media screen and (max-width: $mobile) {
        flex-direction: row;
        -webkit-flex-direction: row;
        width: 100%;
        @include flexHorizontalCenter;
    }
}

.imgWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    align-self: center;
    flex: 1;
    -webkit-flex: 1;

    @media screen and (max-width: $superSmallDevice) {
        margin-bottom: $marginContainer;
    }
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuItem {
    font-weight: $fontLightBold !important;
    margin-bottom: $marginContainer/2;

    @media screen and (max-width: $mobile) {
        margin: $marginContainer*2 auto !important;
    }

    @media screen and (max-width: $superSmallDevice) {
        font-size: .7em !important;
    }
}

.addressRow {
    display: block;

    @media screen and (max-width: $smallDevice) {
        justify-content: space-between;
        flex-direction: row;
        -webkit-flex-direction: row;
        margin-bottom: $marginContainer/2;
    }
}

.facebookIcon {
    font-size: x-large;
    margin-top: $marginContainer;
}

.infoParagraph {
    margin: 0 auto !important;
    font-size: smaller;
    margin-bottom: $marginContainer !important;
    flex: .4;
    -webkit-flex: .4;

    @media screen and (max-width: $smallDevice) {
        flex: unset;
    }
}

.companyInfo {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    -webkit-flex: 1;

    @media screen and (max-width: $smallDevice) {
        max-width: 400px;
    }
}

.infoTitle {
    font-weight: $fontBold;
    font-family: $fontHeadingFamily;
}

.phone {
    @media screen and (max-width: $smallDevice) {
        float: left;
        margin-right: $marginContainer * 2;
    }
}

.copyright {
    margin: auto;
    text-align: center;
    margin-top: $marginContainer*2;
}