@import '~appConfig/app_vars';

button {
    color: $textMain;

    [class*="anticon-loading"] {
        margin: auto;
        margin-left: -14px;
        margin-right: 5px;
    }
}

.buttonContainer {
    font-family: $fontBodyFamily;
    font-size: inherit !important;
    display: inline-flex !important;
    justify-content: center;
}