@import '~appConfig/app_vars';

.body {
    padding: 0;
    margin-top: $headerHeight;

    @media screen and (max-width: $smallDevice) {
        margin-top: $headerMobileHeight;

    }
}

.introContainer {
    background-color: $productBg;
    padding: $paddingContainer * 5;
    padding-top: $paddingContainer * 2;

    @media screen and(max-width: $smallDevice) {
        padding: 0;
        padding-top: $paddingContainer;
    }
}

.category {
    font-size: 1.5rem !important;
    font-weight: 600;
    margin-bottom: $paddingContainer*2 !important;
    color: $textSecondary !important;
    font-variant-caps: all-petite-caps;
    letter-spacing: 1px;

    @media screen and(max-width: $smallDevice) {
        margin-bottom: $paddingContainer !important;
        @include flexHorizontalCenter;

        &::before {
            content: '--';
            margin-right: $marginContainer;
        }

        &::after {
            content: '--';
            margin-left: $marginContainer;
        }
    }

    @media screen and(min-width: $smallDevice) {
        &::before {
            content: '•';
            margin-right: $marginContainer;
        }
    }
}

.imageContainer {
    flex: 58.3333%;
    -webkit-flex: 58.3333%;

    @media screen and(max-width: $smallDevice) {
        align-self: center;
        margin-bottom: $marginContainer;
        flex: unset;
        -webkit-flex: unset;
    }

    @media screen and(max-width: $largeDevice) {
        flex: 50%;
        -webkit-flex: 50%;
    }
}

.intro {
    @include flexCenter;
    padding: $paddingContainer;
    flex: 32.6667%;
    -webkit-flex: 32.6667%;

    @media screen and(max-width: $smallDevice) {
        align-self: center;
        margin-bottom: $paddingContainer;
        flex: unset;
        -webkit-flex: unset;
    }

    @media screen and(max-width: $largeDevice) {
        flex: 50%;
        -webkit-flex: 50%;
    }
}

.caption {
    margin-top: $bodyPadding;

    @media screen and(max-width: $smallDevice) {
        margin-top: $paddingContainer;

    }
}

.title {
    text-align: center;
}

.price {
    font-size: x-large;
}

.longDes {
    padding: $bodyPadding;
    background-color: $bg;
    font-size: $fontSizeStandard;
    white-space: initial;
    white-space: initial;

    img {
        max-width: 100%;
        height: auto !important;
        margin: auto;
        display: block;
    }

    span,
    p,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: inherit;
    }

    @media screen and(max-width: $smallDevice) {
        padding: $bodyPadding $bodyPadding/5;
    }
}

.fbContainer {
    &::before {
        content: '';
        background: url("http://kenh14cdn.com/web_images/sprite-k14.20.png") -227px -66px no-repeat;
        width: 10px;
        height: 16px;
        position: absolute;
        top: 1px;
        left: 7px;
        background-size: 457px;
    }

    &:hover {
        cursor: pointer;
    }

    margin-top: $marginContainer;
    background: #4167b2;
    padding-left: 20px;
    height: 20px;
    display: block;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    float: right;

    @media screen and(max-width: $smallDevice) {
        left: -50%;
        transform: translateX(50%);
        margin-bottom: $paddingContainer;
    }
}

.fbShareCount {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 0 6px;
}