@import '~appConfig/app_vars';

.backTopContainer {
    >div {
        transition: $transition;
        -webkit-transition: $transition;
        -webkit-animation: showUp .5s ease-out 0s;
        animation: showUp .5s ease-out 0s;
    }
}

@keyframes showUp {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }
}