@import '~appConfig/app_vars.scss';

h1,
h2,
h3 {
    font-family: $fontHeadingFamily !important;
    color: $textHeading !important;
    font-weight: $fontBold!important;
}

.center {
    text-align: center;
}